/**
* ----------------------------------------------------------
* Nied Style
* ----------------------------------------------------------
**/
/**
* ----------------------------------------------------------
* Settings.
* ----------------------------------------------------------
**/
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
/**
* ----------------------------------------------------------
* Utilities.
* ----------------------------------------------------------
**/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-centered {
  text-align: center;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.zero {
  margin: 0;
  padding: 0;
}

.list-nostyle {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-nostyle li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 0;
}

.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/**
* ----------------------------------------------------------
* Base styles.
* ----------------------------------------------------------
**/
body {
  font-family: "Lato", sans-serif;
  font-size: 14.4px;
  line-height: 24px;
  color: #4d4d4d;
}

html, body {
  height: 100%;
}

#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -240px;
}
#root #root__footer {
  height: 240px;
}

#footer {
  clear: both;
  position: relative;
  height: 240px;
}

a {
  color: #2097a5;
}
a:visited {
  color: #56b1bb;
}
a:hover {
  color: #56b1bb;
}
a:active {
  color: #56b1bb;
}

.icons-sprite, .icons-coemmsa-logo, .icons-design, .icons-download, .icons-phone, .icons-products, .icons-services, .icons-support {
  background-image: url('../images/icons-s1cbdd15864.png');
  background-repeat: no-repeat;
}

.icons-coemmsa-logo {
  background-position: 0 0;
}

.icons-design {
  background-position: 0 -190px;
}
.icons-design:hover, .icons-design.design-hover {
  background-position: 0 -65px;
}

.icons-download {
  background-position: 0 -315px;
}

.icons-phone {
  background-position: 0 -387px;
}

.icons-products {
  background-position: 0 -551px;
}
.icons-products:hover, .icons-products.products-hover {
  background-position: 0 -426px;
}

.icons-services {
  background-position: 0 -801px;
}
.icons-services:hover, .icons-services.services-hover {
  background-position: 0 -676px;
}

.icons-support {
  background-position: 0 -1051px;
}
.icons-support:hover, .icons-support.support-hover {
  background-position: 0 -926px;
}

/**
* ----------------------------------------------------------
* IE8 styles.
* ----------------------------------------------------------
**/
/**
* ----------------------------------------------------------
* Navigation styles.
* ----------------------------------------------------------
**/
#main-nav {
  border: 1px solid #d5d5d5;
  border-bottom: none;
  padding: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(#ffffff, #f2f2f2);
  background-image: -webkit-linear-gradient(#ffffff, #f2f2f2);
  background-image: linear-gradient(#ffffff, #f2f2f2);
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  text-align: justify;
}

.menuzord-brand,
.menu {
  display: inline-block;
  vertical-align: middle;
}

a.menuzord-brand {
  border-bottom: 3px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  color: #8f8f8f;
  margin: 0;
  padding: 0.25em 0;
  text-align: center;
  width: 5%;
}
a.menuzord-brand:hover, a.menuzord-brand.active {
  border-bottom-color: #56b1bb;
  color: #56b1bb;
}

.menu {
  min-height: 40px;
  text-align: justify;
  width: 95%;
}
.menu > .menu__item {
  border-bottom: 3px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  display: block;
  float: left;
  line-height: 3em;
  text-align: center;
  width: 12.5%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: all, 0.33s;
  -o-transition: all, 0.33s;
  -webkit-transition: all, 0.33s;
  transition: all, 0.33s;
}
.menu > .menu__item:hover, .menu > .menu__item.active {
  border-bottom: 3px solid #56b1bb;
  color: #d5d5d5;
}
.menu > .menu__item:hover > a, .menu > .menu__item.active > a {
  color: #8f8f8f;
}
.menu > .menu__item.menu__item--last {
  border-right: none;
  line-height: 2.1em;
  position: relative;
  width: 25%;
}
.menu > .menu__item > a {
  padding: 0;
  position: relative;
}
.menu > .menu__item > a .indicator {
  font-size: 20px;
  margin-left: 0.5em;
  position: relative;
  top: 2px;
}
.menu ul.dropdown {
  border: 1px solid #d5d5d5;
  margin-top: 2px;
}
.menu ul.dropdown > .dropdown__item {
  border-bottom: 1px solid #d5d5d5;
  height: auto;
  overflow: hidden;
  text-align: left;
}
.menu ul.dropdown > .dropdown__item.dropdown__item--last {
  border-bottom: 2px solid #d5d5d5;
}
.menu ul.dropdown > .dropdown__item > a {
  font-size: 14.4px;
  padding: 0 0 0 2em;
}

.site-search .site-search__input {
  background: transparent;
  border: none;
  color: #8f8f8f;
  display: block;
  font-size: 13px;
  outline: none;
  padding: 0.5em;
  position: relative;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.site-search .site-search__submit {
  background: none;
  border: none;
  position: absolute;
  right: 0.5em;
  top: 0.35em;
}

@media (max-width: 800px) {
  #main-nav {
    border-bottom: 3px solid #d5d5d5;
    text-align: left;
  }
  #main-nav .menu {
    border-top: 1px solid #d5d5d5;
  }
  #main-nav .menu > .menu__item {
    display: inline-block;
    float: none;
    border-right: none;
    width: 100%;
    border-bottom-width: 1px;
    text-align: left;
  }
  #main-nav .menu > .menu__item .indicator {
    top: 0;
    margin: 0;
    width: 40px;
    height: 34px;
    line-height: 34px;
    display: block;
    float: right;
    border-left: 1px solid #d5d5d5;
  }
  #main-nav .menu > .menu__item > a {
    padding: 0 0 0 1.5em;
    margin: 0;
    line-height: 34px;
    border-bottom: none;
  }
  #main-nav .menu > .menu__item .dropdown > .dropdown__item:first-child > a {
    border-top: 1px solid #d5d5d5;
  }
  #main-nav .menu > .menu__item .dropdown > .dropdown__item > a {
    padding-left: 2em;
  }
  #main-nav .showhide,
  #main-nav .menuzord-brand {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 34px;
    text-align: center;
  }
  #main-nav .menuzord-brand {
    font-size: 24px;
    line-height: 34px;
    border-right: 1px solid #d5d5d5;
    border-bottom-width: 0;
  }
  #main-nav .showhide {
    border-left: 1px solid #d5d5d5;
  }
  #main-nav .showhide:hover > em {
    background-color: #56b1bb;
  }
  #main-nav .showhide em {
    display: block;
    position: relative;
    width: 20px;
    margin: 3px auto;
    vertical-align: middle;
    line-height: 0px;
    float: none;
  }
  #main-nav .showhide em:first-child {
    margin-top: 10px;
  }
}
/**
* ----------------------------------------------------------
* Header Styles
* ----------------------------------------------------------
**/
#header .bottom-bar {
  margin-top: 12px;
}

.brand {
  margin: 1em 0;
}
.brand .brand__logo, .brand .brand__link {
  display: block;
  margin: 0;
  width: 320px;
  height: 65px;
}
.brand .brand__link {
  background: transparent;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

.callout .callout__icon,
.callout .callout__number {
  display: inline-block;
  vertical-align: middle;
}
.callout .callout__icon {
  color: #2097a5;
  font-size: 2.5em;
  height: 2em;
  line-height: 2em;
  margin-right: 0.5em;
}
.callout .callout__number span {
  color: #8f8f8f;
}
.callout .callout__number span:last-child {
  font-size: 1.8em;
}

.social-counters {
  width: 100%;
  text-align: justify;
}
.social-counters .social-counters__item {
  display: inline-block;
  vertical-align: text-bottom;
}
.social-counters .social-counters__item--facebook {
  position: relative;
  top: -7px;
}

/**
* ----------------------------------------------------------
* Main styles
* ----------------------------------------------------------
**/
.slider-section {
  margin: 24px 0;
}

#width-slider {
  background: #2097a5;
  width: 100%;
}
#width-slider.rsMinW .rsOverflow, #width-slider.rsMinW .rsSlide, #width-slider.rsMinW .rsVideoFrameHolder, #width-slider.rsMinW .rsThumbs {
  background: #2097a5;
}

.services .media {
  text-align: center;
}
.services .media .media__icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.services .media .media__icon > span {
  display: inline-block;
  width: 125px;
  height: 125px;
  background-color: #e6e6e6;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.services .media .media__icon > span:hover {
  background-color: #2097a5;
}
.services .media .media__title {
  font-size: 20px;
  position: relative;
  margin: 0.5em 0 1em 0;
  padding: 0.5em 0;
}
.services .media .media__title:before {
  content: "";
  width: 50px;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  background: #2097a5;
}

.why-content {
  margin: 24px 0;
}
.why-content .download-pdf {
  display: block;
  padding-bottom: 1em;
  border-bottom: 1px solid #d5d5d5;
  text-decoration: none;
}
.why-content .download-pdf:hover {
  text-decoration: none;
}
.why-content .download-pdf span {
  display: inline-block;
  vertical-align: middle;
}
.why-content .download-pdf span.icons-download {
  width: 72px;
  height: 72px;
}
.why-content .download-pdf span.download-pdf__label {
  text-transform: uppercase;
  margin-left: 1em;
  width: 50%;
  font-size: 16px;
  color: #4d4d4d;
}

.our-brands {
  background: #f2f2f2;
  padding: 48px 0;
  margin-bottom: 24px;
}

.everslider {
  margin: 0;
  padding: 0;
}

.featured-slider {
  margin: 0;
  padding: 0;
}
.featured-slider .es-navigation {
  bottom: auto;
  left: 0;
  top: 0;
}
.featured-slider .es-navigation > a.es-prev,
.featured-slider .es-navigation > a.es-next {
  background: #2097a5;
  color: white;
  top: 50%;
  margin-top: -17px;
  text-align: center;
}
.featured-slider .es-navigation > a.es-prev span.alt-arrow,
.featured-slider .es-navigation > a.es-next span.alt-arrow {
  background: none;
  font-size: 20px;
  height: 1em;
  line-height: 1em;
  text-indent: 0;
  width: 1em;
  @inclue box-sizing(border-box);
}
.featured-slider .es-slides > li {
  margin-right: 5px;
  width: 200px;
}
.featured-slider .featured-pic {
  background: #fff;
  position: relative;
}
.featured-slider .featured-pic img {
  opacity: 1;
  transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -webkit-transition: opacity .3s;
}
.featured-slider .featured-pic:hover img {
  opacity: 0.7;
}
.featured-slider .featured-pic:hover > a {
  visibility: visible;
}

.media .media__image {
  border: 1px solid #d5d5d5;
  border-bottom-width: 3px;
}
.media .media__image:hover {
  border-bottom-color: #56b1bb;
}

.products {
  margin: 24px 0;
}
.products .top-bar {
  margin-bottom: 24px;
}

.breadcrumb {
  background: none;
  border: 1px solid #d5d5d5;
  margin: 0;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.breadcrumb * {
  font-size: 14.4px;
}

.sidebar .sidebar__title {
  color: #2097a5;
  margin: 0 0 1em 0;
  font-size: 24px;
  line-height: 24px;
}

.sidebar-menu {
  text-align: left;
  background: #fafafa;
  border: 1px solid #d5d5d5;
  border-bottom: 2px solid #d5d5d5;
  margin-bottom: 24px;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.sidebar-menu > .sidebar-menu__item {
  display: block;
  padding: 0.25em 0;
  border-right: 3px solid transparent;
  border-bottom: 1px solid #d5d5d5;
}
.sidebar-menu > .sidebar-menu__item > a {
  display: block;
  padding: 0.5em 1.5em;
  font-size: 14.4px;
  color: #8f8f8f;
}
.sidebar-menu > .sidebar-menu__item:hover, .sidebar-menu > .sidebar-menu__item.active {
  border-right-color: #56b1bb;
}
.sidebar-menu > .sidebar-menu__item:hover > a, .sidebar-menu > .sidebar-menu__item.active > a {
  color: #2097a5;
  text-decoration: none;
}

.products-grid .media {
  margin-bottom: 24px;
}
.products-grid .media .media__title {
  margin: 12px 0;
  font-size: 16px;
  line-height: 24px;
}
.products-grid .media .media__title > a {
  display: block;
  width: 70%;
  height: auto;
  overflow: hidden;
  color: #8f8f8f;
}
.products-grid .media .media__title > a:hover {
  color: #2097a5;
  text-decoration: none;
}

@media only screen and (max-width: 60em) {
  .sidebar-menu {
    border-bottom-width: 1px;
  }
  .sidebar-menu > .sidebar-menu__item {
    border-right: none;
    border-bottom: 3px solid #d5d5d5;
  }
  .sidebar-menu > .sidebar-menu__item:hover, .sidebar-menu > .sidebar-menu__item.active {
    border-bottom-color: #56b1bb;
  }
}
.single-product {
  margin-bottom: 48px;
}
.single-product .media .media__title {
  margin: 0 0 1em 0;
  font-size: 24px;
}
.single-product .media .media__description {
  border-bottom: 1px solid #d5d5d5;
}
.single-product .media .media__sharer {
  border-top: 1px solid #d5d5d5;
  padding: 1em 0;
  text-align: left;
}
.single-product .media .media__label,
.single-product .media .media__social,
.single-product .media .media__social__item {
  display: inline-block;
  vertical-align: middle;
}
.single-product .media .media__label {
  margin-right: 0.75em;
}
.single-product .media .media__social__item > a {
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.65em;
  font-size: 20px;
  text-align: center;
  color: white;
  background-color: transparent;
}
.single-product .media .media__social__item > a.facebook {
  background: #3B5998;
}
.single-product .media .media__social__item > a.twitter {
  background: #2EB3E5;
}
.single-product .media .media__social__item > a.google-plus {
  background: #DD4B39;
}
.single-product .media .media__social__item > a.pinterest {
  background: #CB2027;
}

.related-products .media {
  margin-bottom: 16px;
}
.related-products .related-products__title {
  color: #2097a5;
  font-size: 20px;
  margin: 0 0 24px 0;
}

/**
* ----------------------------------------------------------
* Footer Styles
* ----------------------------------------------------------
**/
#footer {
  margin-top: 24px;
}
#footer .media {
  margin-bottom: 24px;
  text-align: center;
}
#footer .media .media__title {
  border-bottom: 1px solid #d5d5d5;
  color: #2097a5;
  font-size: 16px;
  margin: 0 0 1em 0;
  padding-bottom: 0.5em;
  text-transform: uppercase;
}
#footer .media a {
  color: #4d4d4d;
}
#footer .media .media__icon {
  font-size: 24px;
  margin-bottom: 0.5em;
}
#footer ul.social {
  text-align: center;
  width: 100%;
}
#footer ul.social .social__item {
  display: inline-block;
  vertical-align: middle;
}
#footer ul.social .social__link {
  color: white;
  display: block;
  font-size: 18px;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 2em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
#footer ul.social .social__link.social__link--facebook {
  background: #3B5998;
}
#footer ul.social .social__link.social__link--google {
  background: #DD4B39;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#footer ul.social .social__link.social__link--linkedin {
  background: #0977B5;
}
#footer .bottom-bar {
  background: #2097a5;
  padding: 1em 0;
  text-align: center;
}
#footer .bottom-bar * {
  color: white;
  font-size: 14.4px;
  font-weight: normal;
  letter-spacing: 0.05em;
}

/**
* ----------------------------------------------------------
* Buttons styles.
* ----------------------------------------------------------
**/
.button-download {
  display: inline-block;
  background: #56b1bb;
  border: 1px solid #2097a5;
  width: auto;
  line-height: 1.5em;
  color: white;
  border-bottom-width: 3px;
  margin: 16px 0;
  -moz-border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
  text-align: right;
}
.button-download:hover {
  text-decoration: none;
  background: #2097a5;
  color: white;
}
.button-download .button-download__label,
.button-download .button-download__icon {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em 1em;
}
.button-download .button-download__label {
  font-weight: bold;
  font-size: 16px;
}
.button-download .button-download__icon {
  font-size: 20px;
  height: 2em;
  border-left: 1px solid #2097a5;
  margin-left: 0.5em;
}

/**
* ----------------------------------------------------------
* Dividers.
* ----------------------------------------------------------
**/
hr {
  display: block;
  height: 1px;
  margin: 48px 0;
  border: none;
  background-color: #EEE;
}

/**
* ----------------------------------------------------------
* Forms styles.
* ----------------------------------------------------------
**/
/**
* ----------------------------------------------------------
* Tables styles.
* ----------------------------------------------------------
**/
/**
* ----------------------------------------------------------
* Miscelanea styles.
* ----------------------------------------------------------
**/
