/**
* ----------------------------------------------------------
* Main styles
* ----------------------------------------------------------
**/

.slider-section {
  margin: $margin__general/2 0;
}

#width-slider {
  background: $stormcloud;
  width: 100%;
  &.rsMinW {
    .rsOverflow, .rsSlide, .rsVideoFrameHolder, .rsThumbs {
      background: $stormcloud;
    }
  }
}

.services {
  .media {
    text-align: center;
    .media__icon {
      display: inline-block;
      width: 100%;
      height: 100%;
      > span {
        display: inline-block;
        width: 125px;
        height: 125px;
        background-color: darken($white, 5%);
        @include border-radius(50%);
        &:hover {
          background-color: $stormcloud;
        }
      }
    }
    .media__title {
      font-size: $base__font--size * 1.25;
      position: relative;
      margin: 0.5em 0 1em 0;
      padding: 0.5em 0;
      &:before {
        content: "";
        width: 50px;
        height: 1px;
        bottom: 0;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        background: $stormcloud;
      }
    }
  }
}

.why-content {
  margin: $margin__general/2 0;
  .download-pdf {
    display: block;
    padding-bottom: 1em;
    border-bottom: 1px solid $gray--light;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      &.icons-download {
        width: 72px;
        height: 72px;
      }
      &.download-pdf__label {
        text-transform: uppercase;
        margin-left: 1em;
        width: 50%;
        font-size: $base__font--size;
        color: $color__text;
      }
    }
  }
}

.our-brands {
  background: $white;
  padding: $margin__general 0;
  margin-bottom: $margin__general * 0.5;
}

.everslider {
  margin: 0;
  padding: 0;
}

.featured-slider {
  margin: 0;
  padding: 0;
  .es-navigation {
    bottom: auto;
    left: 0;
    top: 0;
    > a.es-prev,
    > a.es-next {
      background: $stormcloud;
      color: white;
      top: 50%;
      margin-top: -17px;
      text-align: center;
      span.alt-arrow {
        background: none;
        font-size: 20px;
        height: 1em;
        line-height: 1em;
        text-indent: 0;
        width: 1em;
        @inclue box-sizing(border-box);
      }
    }
  }
  .es-slides > li {
    margin-right: 5px;
    width: 200px;
  }
  .featured-pic {
    background: #fff;
    position: relative;
    img {
      opacity: 1;
      transition: opacity .3s;
      -moz-transition: opacity .3s;
      -o-transition: opacity .3s;
      -webkit-transition: opacity .3s;
    }
    &:hover {
      img {
        opacity: 0.7;
      }
      > a {
        visibility: visible;
      }
    }
  }
}

// products sections
.media {
  .media__image {
    border: 1px solid $gray--light;
    border-bottom-width: 3px;
    &:hover {
      border-bottom-color: $stormcloud--light;
    }
  }
}
.products {
  margin: $margin__general/2 0;
  .top-bar {
    margin-bottom: $margin__general/2;
  }
}

.breadcrumb {
  background: none;
  border: 1px solid $gray--light;
  margin: 0;
  @include border-radius(0.25em);
  * {
    font-size : $base__font--size * 0.9;
  }
}

.sidebar {
  .sidebar__title {
    color: $stormcloud;
    margin: 0 0 1em 0;
    font-size: $base__font--size * 1.5;
    line-height: $base__font--height;
  }
}
.sidebar-menu {
  text-align: left;
  background: darken(white, 2%);
  border: 1px solid $gray--light;
  border-bottom: 2px solid $gray--light;
  margin-bottom: $margin__general/2;
  @include border-radius(0.25em);
  > .sidebar-menu__item {
    display: block;
    padding: 0.25em 0;
    border-right: 3px solid transparent;
    border-bottom: 1px solid $gray--light;
    > a {
      display: block;
      padding: 0.5em 1.5em;
      font-size: $base__font--size * 0.9;
      color: $gray--dark;
    }
    &:hover , &.active  {
      border-right-color: $stormcloud--light;
      > a {
        color: $stormcloud;
        text-decoration: none;
      }
    }
  }
}

.products-grid {
  .media {
    margin-bottom: $margin__general/2;
    .media__title {
      margin: $margin__general/4 0;
      font-size: $base__font--size;
      line-height: $base__font--height;
      > a {
        display: block;
        width: 70%;
        height: auto;
        overflow: hidden;
        color: $gray--dark;
        &:hover {
          color: $stormcloud;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width:60em) {
  .sidebar-menu {
    border-bottom-width: 1px;
    > .sidebar-menu__item {
      border-right: none;
      border-bottom: 3px solid $gray--light;
      &:hover , &.active {
        border-bottom-color: $stormcloud--light;
      }
    }
  }
}

.single-product {
  margin-bottom: $margin__general;
  .media {
    .media__title {
      margin: 0 0 1em 0;
      font-size: $base__font--size * 1.5;
    }
    .media__description {
      border-bottom: 1px solid $gray--light;
    }
    .media__sharer {
      border-top: 1px solid $gray--light;
      padding: 1em 0;
      text-align: left;
    }
    .media__label,
    .media__social,
    .media__social__item {
      display: inline-block;
      vertical-align: middle;
    }
    .media__label {
      margin-right: 0.75em;
    }
    .media__social__item {
      > a {
        display: block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.65em;
        font-size: 20px;
        text-align: center;
        color: white;
        background-color: transparent;
        &.facebook {
          background: $color__facebook;
        }
         &.twitter {
          background: $color__twitter;
        }
         &.google-plus {
          background: $color__google;
        }
         &.pinterest {
          background: $color__pinterest;
        }
      }
    }
  }
}

.related-products {
  .media {
    margin-bottom: $margin__general/3;
  }
}
